<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Snekw's playground where cool things I have created are showcased.">
    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>

<body>
    <noscript>
        <div class="error-bar">
            This page relies on JavaScript to show case the "apps" I have made.
        </div>
    </noscript>
    <header id="frontPageTitle">
        <h1>{{htmlWebpackPlugin.options.app.title}}</h1>
    </header>
    <div id="frontPage" class="container">
        <nav id="appsList" class="container">
            <ul>
                {{#each htmlWebpackPlugin.options.apps}}
                <li>
                    <a href="{{this.outPath}}" data-index="{{this.order}}">{{this.title}}</a>
                </li>
                {{/each}}
            </ul>
        </nav>
        <section id="appContainer" class="container">
            <div>
                <iframe id='appIframe' class="appFrame" src="{{htmlWebpackPlugin.options.apps.0.outPath}}" title="{{htmlWebpackPlugin.options.apps.0.title}}"></iframe>
            </div>
        </section>
    </div>

</body>

</html>
