<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>

<body>
    <noscript>
        <div class="warning">
            This page relies on JavaScript to show case the "apps" I have made.
        </div>
    </noscript>
    <header id="frontPageTitle">
        <h1>{{htmlWebpackPlugin.options.app.title}}</h1>
    </header>
    <div id="frontPage" class="container">
        <nav id="appsList" class="container">
            <ul>
                {{#each htmlWebpackPlugin.options.apps as |app|}}
                <li>
                    <a href="{{app.outPath}}">{{app.title}}</a>
                </li>
                {{/each}}
            </ul>
        </nav>
        <section id="appContainer" class="container">
            <iframe id="appFrame" src="{{htmlWebpackPlugin.options.apps.0.outPath}}"></iframe>
            <section id="appReadmeContainer">
                <h1></h1>
                <article></article>
            </section>
        </section>
    </div>

</body>

</html>
